<div id="<%= dom_id haiku %>" class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div>
        <%= haiku.content %>
      </div>
      <div class="ms-auto">
        <%= link_to haiku_like_path(haiku.id), data: { turbo_method: :post, controller: "haiku-like", action: "click->haiku-like#like_animation" }, class: "text-decoration-none text-danger d-block" do %>
          <i class="bi bi-heart-fill me-1"></i>
          <%= render template: "haikus/likes/_like_count", locals: {haiku: haiku} %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <div class="d-flex justify-content-between flex-wrap">
      <div>
        <% # デフォルト詠み人の場合、カラム名（詠み人）は非表示 %>
        <% unless haiku.author_name == Haiku::DEFAULT_NAME  %>
        <span><%=Haiku.human_attribute_name("haiku.author_name") %>: </span>
        <% end %>
        <%= haiku.author_name %>
      </div>
      <div class="ms-auto">
        <%= datetimeformat(haiku.created_at) %>
      </div>
    </div>
  </div>
</div>
