<%= turbo_frame_tag 'new_haiku_form' do %>
  <%= render template: "haikus/_form", locals: {haiku: @haiku} %>
<% end %>

<hr>

<div class="">
  <%= turbo_frame_tag 'haikus' do %>
    <% @haikus.each do |haiku| %>
      <div class="mt-3">
        <%= render haiku %>
      </div>
    <% end %>
    <%= paginate @haikus %>
  <% end %>
</div>
