<!DOCTYPE html>
<html>
  <head>
    <title>HotwireHaiku</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render template: "layouts/_notice" %>

    <main>
      <div class="container-md">
        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-xs-12">
          <h1 class="display-1">HotHaiku</h1>
          <hr>
          <%= yield %>
        </div>
      </div>
    </main>
    <%= render template: "layouts/_footer" %>
  </body>
</html>
